.form-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 500px;

  &__input {
    position: relative;
    flex-grow: 1; 

    &__icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #888;
    }

    &__field {
      width: 240px;
      padding: 10px 10px 10px 40px !important;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 12px;
    }
  }
}

.react-datepicker__calendar-icon {
  top: 50%;
  transform: translateY(-50%);
  padding-left: 12px !important;
}