#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.background-container {
  position: relative;
  width: 100%;
  background-image: url('/cover-2.jpeg');
  background-size: contain;
  background-position: top; 
  background-repeat: no-repeat;
}

.content {
  position: relative;
  z-index: 1; 
  padding: 20px; 
}
